<section class="section">
    <div class="container">
    
        <h1 class="title">
            <%= @ticket.student_id %>
        </h1>
    
        <div class="content">
            <%= @ticket.fault%>
        </div> 
    </div>
</section>